body {
    font-family: Arial, sans-serif;
    background-image: url("background-image: url('file:///C:\Users\kdalo\AppData\Local\Packages\5319275A.WhatsAppDesktop_cv1g1gvanyjgm\TempState\AC4C0C5D6B6B20CE69643FF104689DB0\Imagen de WhatsApp 2024-07-23 a las 13.05.38_6d563476.jpg');");
    background-size: cover;
    background-repeat: no-repeat;
}


nav {
    width: 100px;
    float: left;
    margin-right: 20px;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

        nav ul li {
            margin: 10px 0;
        }

            nav ul li a {
                text-decoration: none;
                color: black;
                padding: 8px 16px;
                display: block;
                background-color: #808080;
            }

                nav ul li a:hover {
                    background-color: #ddd;
                }
